/* Project.module.css */
.horizontalContainer {
    display: flex;
    flex-wrap: nowrap;
    width: 300vw; /* 3 sections * 100vw each */
    overflow: hidden; /* Assurez-vous que le conteneur ne dépasse pas les limites */
}

.horizontalSection {
    flex: 0 0 100vw;
    height: 100vh;
}
