@import url('https://fonts.cdnfonts.com/css/built-titling');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #f7f7f7;
    --text-color: #333;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --text-color: red;
  }
}
*/

html {
    background-color: var(--background-color);
    color: var(--text-color);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

@layer base {
    html {
        font-family: "Montserrat", sans-serif;
    }
}

@layer utilities {
    .shadow-title {
        text-shadow: 0.125em 0.0563em 0 #361B8B;
    }

    .shadow-title-secondary {
        text-shadow: 0.125em 0.0563em 0 #5497FF;
    }

    .text-stroke::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-text-stroke: 0.125em #361B8B;
        text-stroke: 0.125em #361B8B;
    }

    .text-stroke-secondary::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-text-stroke:  0.125em #5497FF;
        text-stroke: 0.125em #5497FF;
    }

    .activeFilter {
        @apply text-white bg-customPurple;
    }
}

.spacer, .header-section {
    height: 100vh;
}

.header-section {
    background-color: #361B8B;
}

.horizontalSection {
    display: flex;
    height: 100vh;
    min-width: 100vw;
}

.triangle::before {
    content: '';
    position: absolute;
    top: -5vw;
    left: -5vw;
    width: 110vw;
    height: 15vw;
    background-color: #F0BD02;
}

path { transition: fill .4s ease; }